button {
  background: linear-gradient(#3b5998, #192f6a);
  color: #ffd700;
  border: 2px solid #ffd700;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}
button:hover {
  background: linear-gradient(#4c70ba, #223b7b);
}
button:active {
  background: #0d1a33;
}
